@model IEnumerable<Entities.Contact>

@{
    ViewData["Title"] = "Admin";
}

<div class="container-fluid py-4">
    <h3>Aktif İleti Mesajları</h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="column col-4">
                <a href="/Admin/Contacts/Details/@item.Id">
                    <div class="row col-md-12">
                        <div class="card h-100 p-3">
                            <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('~/templates/admin/assets/img/ivancik.jpg');">
                                <span class="mask bg-gradient-dark"></span>
                                <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-2">
                                    <h5 class="text-white font-weight-bolder mb-3">@item.Name</h5>
                                    <p class="text-white mb-2">@item.Message</p>
                                    <p class="text-white mb-2">@item.Phone</p>
                                    <p class="text-white mb-2 mr-auto">@item.CreateDate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


