@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<h1>@ViewData["Title"]</h1>

<p>Hoşgeldiniz! Biz, sizleri CoreWeb'in dinamik ve interaktif dünyasına adım atmaya davet eden bir web sitesinde bulunmaktan büyük mutluluk duyuyoruz. CoreWeb olarak, çeşitli sektörlerdeki müşterilerimize özelleştirilmiş web çözümleri sunmak için buradayız. Deneyimli ekibimiz, modern tasarım anlayışı ve son teknoloji araçlarıyla, sizin ihtiyaçlarınıza ve hedeflerinize uygun web siteleri oluşturmak için çalışıyor. Siz de bizimle birlikte, sıradanlığın ötesine geçen, etkileyici ve kullanıcı dostu web deneyimleri yaşamak için bu dijital yolculuğa katılın. Teşekkür ederiz ve sizi CoreWeb ailesine hoşgeldiniz demekten mutluluk duyarız!</p>
